#approbation {
  .wrapper {
    height: 100vh;
    h1 {
      text-align: center;
    }
    .wrapper-body {
      margin: 0 auto;

      table {
        td.actions {
          display: flex;
          justify-content: space-around;
          margin: 5px;

          svg {
            font-size: $h3-size;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }
          .fa-check {
            color: $green-70;

            &:hover {
              color: $green-50;
            }
          }
          .fa-times {
            color: $red-60;
            &:hover {
              color: $red-40;
            }
          }
        }
      }
    }
  }
}
