#dashboard {
  h1 {
    color: $blue-90;
  }

  h3.title {
    color: $blue-60;
  }

  .wrapper-body {
    @include display-flex(space-between, top);
    column-gap: 2rem;

    // Media Queries : Small
    @include sm {
      flex-direction: column;
      row-gap: 5rem;
    }

    .left-pan {
      flex: 3;

      .stats {
        @include display-grid(repeat(4, 1fr), auto, 2rem);

        // Media Queries : Medium
        @include md {
          @include display-grid(repeat(2, 1fr), auto, 1rem);
        }
      }

      .panels {
        @include display-grid(1fr 2fr 1fr, auto, 2rem);
        margin-top: 3rem;

        @include md {
          grid-template-columns: 2fr 2fr;
        }

        // Media Queries : Small
        @include sm {
          @include display-grid(1fr, auto, 1rem);
        }
      }
    }

    .right-pan {
      @include display-flex(start-flex, start-flex, column);
      flex: 1;

      h3:not(:first-of-type) {
        margin-top: 2rem;
      }
    }
  }
}
