#contract {
  .wrapper {
    h1 {
      color: $blue-60;
    }
  }
}

.list {
  .listing-mission {
    @include display-grid(repeat(3, 1fr), auto, 4rem);
    margin-top: 3rem;

    // Media Queries : Sm
    @include sm {
      @include display-grid(1fr, auto, 3rem);
    }

    .contract-embed__admin {
      width: 400px;
      margin: 0 auto 0 0;

      .contract-embed__header {
        margin-top: 20px;
      }

      .contract-embed__date {
        margin-bottom: 40px;
      }
    }
  }
}

#add-speciale {
  .white-box {
    width: 900px;

    @include sm {
      width: 100%;
    }
  }
  .preview-logo {
    @include display-flex;
    gap: 2em;
    margin-bottom: 15px;

    .block {
      p {
        color: $gray-70;
      }

      input {
        margin: 0;
        padding: 0;
      }
    }
  }

  .logo {
    width: 96px;
    height: 96px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
