@import 'base/index';
@import 'utils/index';
@import 'components/index';
@import 'layouts/index';
@import 'pages/index';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: $body-size;
  background-color: $gray-10;
  height: 100%;
}

.test {
  background: green;
  width: 100%;
  height: 60px;
  @include display-flex;

  @include xl {
    background: blue;
  }
  @include lg {
    background: aqua;
  }
  @include md {
    background: yellow;
  }
  @include sm {
    background: orange;
  }
  @include xs {
    background: red;
  }
}

a {
  text-decoration: none;
  text-transform: none;
  @include transition-ease;

  &:hover {
    color: $blue-40;
  }
}

.hidden {
  display: none;
}

// Headers

h1,
h2,
h3,
h4 {
  font-family: $title-font;
  font-weight: 700;

  &.biggest {
    font-size: $biggest-size;
  }
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

// Big body
.menu {
  font-size: $menu-size;
}

.small {
  font-size: $small-size;
}

// Container
.container {
  max-width: 1050px;
  margin: 0 auto;

  @include lg {
    max-width: 920px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 480px;
  }

  @include xs {
    max-width: 95%;
  }
}

.wrapper-color {
  margin: 3rem 0;
}

.colors {
  @include display-grid(repeat(10, 64px), auto, 0);

  .box {
    @include carre(64px);
    $light: 100;

    @for $i from 2 through 10 {
      $light: $light - 10;
      &.blue-#{$i*10} {
        background: hsl(221, 77, $light);
      }
      &.gray-#{$i*10} {
        background: hsl(0, 1, $light);
      }
      &.pink-#{$i*10} {
        background: hsl(317, 58, $light);
      }
      &.red-#{$i*10} {
        background: hsl(341, 77, $light);
      }
      &.green-#{$i*10} {
        background: hsl(133, 59, $light);
      }
      &.yellow-#{$i*10} {
        background: hsl(68, 52, $light);
      }
      &.purple-#{$i*10} {
        background: hsl(281, 77, $light);
      }
    }
  }
}

.centered {
  width: 100%;
  @include display-flex;
  height: 300px;
}

.black-mask-global {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.file-cropper {
  grid-column: 1 / span 2;
  max-width: 100%;

  &__title {
    text-align: center;
    padding: 1rem 0;
    color: $blue-70;
  }

  .file {
    &-bg {
      width: 400px;
    }

    &-img {
      opacity: 0.7;
    }

    &-boundaries {
      width: fit-content;
    }
  }

  .cropper-banner,
  .cropper-avatar {
    cursor: grab;
  }

  .cropper-banner {
    height: 200px;

    & > img {
      height: 200px;
    }
  }

  .cropper-avatar {
    height: 300px;
    overflow: hidden;

    & > img {
      height: 300px;
    }
  }

  & > .buttons__action {
    @include display-flex;
    column-gap: 3rem;
    padding: 1rem 0;
  }
}

.white-box {
  background: white;
  border-radius: 5px;

  h2 {
    color: $blue-60;
  }
}
.nothing-inside {
  width: 100%;
  text-align: center;
  svg {
    font-size: $biggest-size;
    background: $gray-70;
    border: 2px solid $gray-70;
    border-radius: 50px;
    path {
      color: $gray-20;
    }
  }
  h1 {
    color: $gray-70 !important;
    font-weight: 500;

    a {
      color: $blue-70;

      &:hover {
        color: $pink-70;
      }
    }
  }
}

.placeholder {
  padding: 3rem;
  color: $gray-70;
  text-align: center;
  font-size: $menu-size;

  span {
    background: $purple-60;
    color: #fff;
    border-radius: 3px;
    padding: 0.3rem;
  }

  a {
    color: $blue-60;

    &:hover {
      color: $pink-60;
    }
  }
}

.loading-form {
  opacity: 0.5;
  user-select: none;
  cursor: not-allowed;

  input,
  textarea {
    pointer-events: none;
  }
}

.submit-upload {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.3rem 0;
  background: $blue-60;
  color: white;
  z-index: 999;

  &.displayed {
    display: block;
  }

  .container {
    @include display-flex(space-between);

    & > p {
      color: white;
      font-size: $menu-size;
      margin: auto 0;
    }

    .loading-btn {
      cursor: not-allowed;
      &:hover {
        background: transparent;
        color: white;
      }
    }
  }
}

.permission-error {
  padding: 15px;
  margin: 30px 0;

  h1 {
    color: $red-60 !important;
    margin: 0;
  }

  p {
    color: $gray-70 !important;
  }
}

.page-enter-active,
.page-leave-active {
  @include transition-ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
