@import 'base/index';
@import 'utils/index';
@import 'components/index';
@import 'layouts/index';
@import 'pages/index';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: $body-size;
  background-color: $gray-20;
  height: 100%;
}

.test {
  background: green;
  width: 100%;
  height: 60px;
  @include display-flex;

  @include xl {
    background: blue;
  }
  @include lg {
    background: aqua;
  }
  @include md {
    background: yellow;
  }
  @include sm {
    background: orange;
  }
  @include xs {
    background: red;
  }
}

a {
  text-decoration: none;
  text-transform: none;
  @include transition-ease;

  &:hover {
    color: $blue-40;
  }
}

.hidden {
  display: none;
}

// Headers

h1,
h2,
h3,
h4 {
  font-family: $title-font;
  font-weight: 700;

  &.biggest {
    font-size: $biggest-size;
  }
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

// Big body
.menu {
  font-size: $menu-size;
}

.small {
  font-size: $small-size;
}

// Container
.container {
  max-width: 1050px;
  margin: 0 auto;

  @include lg {
    max-width: 920px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 480px;
  }

  @include xs {
    max-width: 95%;
  }
}

.wrapper-color {
  margin: 3rem 0;
}

.colors {
  @include display-grid(repeat(10, 64px), auto, 0);

  .box {
    @include carre(64px);
    $light: 100;

    @for $i from 2 through 10 {
      $light: $light - 10;
      &.blue-#{$i*10} {
        background: hsl(221, 77, $light);
      }
      &.gray-#{$i*10} {
        background: hsl(0, 1, $light);
      }
      &.pink-#{$i*10} {
        background: hsl(317, 58, $light);
      }
      &.red-#{$i*10} {
        background: hsl(341, 77, $light);
      }
      &.green-#{$i*10} {
        background: hsl(133, 59, $light);
      }
      &.yellow-#{$i*10} {
        background: hsl(68, 52, $light);
      }
      &.purple-#{$i*10} {
        background: hsl(281, 77, $light);
      }
    }
  }
}

.white-box {
  background: white;
  border-radius: 5px;

  h2 {
    color: $blue-60;
  }
}
.nothing-inside {
  width: 100%;
  text-align: center;
  svg {
    font-size: $biggest-size;
    background: $gray-70;
    border: 2px solid $gray-70;
    border-radius: 50px;
    path {
      color: $gray-20;
    }
  }
  h1 {
    color: $gray-70 !important;
    font-weight: 500;

    a {
      color: $blue-70;

      &:hover {
        color: $pink-70;
      }
    }
  }
}

.placeholder {
  padding: 3rem;
  color: $gray-70;
  text-align: center;
  font-size: $menu-size;

  span {
    background: $purple-60;
    color: #fff;
    border-radius: 3px;
    padding: 0.3rem;
  }

  a {
    color: $blue-60;

    &:hover {
      color: $pink-60;
    }
  }
}

.permission-error {
  padding: 15px;
  margin: 30px 0;

  h1 {
    color: $red-60 !important;
    margin: 0;
  }

  p {
    color: $gray-70 !important;
  }
}

.page-enter-active,
.page-leave-active {
  @include transition-ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
