input[type='text'],
input[type='number'],
input[type='file'],
input[type='password'],
textarea {
  position: relative;
  width: 100%;
  border: none;
  border: 1px solid $gray-70;
  border-radius: 5px;
  padding: 0.3rem 0 0.3rem 1rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
}

textarea {
  padding: 1rem;
  padding-right: 0;
}

select {
  border: 0;
  background-color: $gray-10;
  color: $gray-70;
  padding: 0.4rem;
  border-radius: 5px;
}

.input-checkbox {
  @include display-flex(space-between);
  width: fit-content;
  margin: 1rem 0;
  cursor: pointer;
  @include transition-ease;
  padding: 0.4rem;
  border-radius: 10px;

  & > label {
    min-width: 50px;
  }

  & > input {
    border: 0;
    outline: 1px solid $blue-20;
  }

  &:hover {
    background: $blue-20;
  }
}
