#header-user {
  @include display-flex(space-between);
  background-color: white;
  border-bottom: 1px solid $gray-50;
  padding: 1rem;

  .user {
    @include display-flex(flex-start);

    img.avatar {
      @include carre(48px);
      border-radius: 50px;
    }

    .text {
      margin-left: 0.7rem;

      h2 {
        color: $blue-80;
      }

      p {
        @include display-flex(flex-start);
        color: $gray-80;

        span {
          @include display-flex(flex-start);
          background: $blue-60;
          border-radius: 10px;
          padding: 0.4rem 0.3rem;
          color: white;
          margin-left: 0.1rem;
          gap: 5px;
        }
      }
    }
  }

  .actions {
    @include display-flex(flex-start);

    input {
      background: $gray-20;
    }

    button {
      @include display-flex;
      background: $blue-60;
      color: white;
      border-radius: 50px;
      @include carre(32px);
      margin-left: 0.3rem;

      &:hover {
        background: $blue-50;
      }
    }
  }
}
