header.left-pan,
header.mobile-menu-admin {
  position: sticky;
  left: 0;
  top: 0;
  @include display-flex(space-between, stretch, column);
  width: 4vw;
  height: 100vh;
  background: $blue-60;
  overflow: hidden;
  @include transition-ease;
  z-index: 99;

  // Media Queries : Small
  @include sm {
    display: none;
  }

  h1,
  h2 {
    text-align: center;
    color: white;
    font-size: $big-size;
    margin-top: 2.5rem;
  }

  h2 {
    font-size: $h1-size;
  }

  ul {
    list-style: none;

    li {
      @include display-flex(space-between);
      margin: 0.7rem 0;
      padding: 0.7rem 1.5rem;
      text-align: center;
      @include transition-ease;

      a {
        @include display-flex;
        color: white;

        svg {
          font-size: $h3-size;
          @include center-div;
        }

        span {
          color: white;
          margin-left: 1rem;
          font-weight: 500;
        }
      }

      &:hover {
        background: $blue-80;
      }
    }
  }

  & > .actions {
    @include display-flex(center, center, column);
    color: white;
    text-align: center;

    .action {
      width: 100%;
      padding: 1rem 0;
      border-top: 1px solid $blue-40;
      border-bottom: 1px solid $blue-40;
      @include transition-ease;

      &.display-menu {
        padding: 0.6rem 0;
        font-size: $h3-size;
        font-weight: 700;
      }

      &:hover {
        cursor: pointer;
        color: white;
        background: $blue-80;
      }
    }
  }
}

header.mobile-menu-admin {
  position: fixed;
  min-height: 100vh;
  z-index: 999;
  @include transition-ease;
}
