.join-partner {
  margin-bottom: 12rem;

  // Media Queries : Small
  @include sm {
    margin: 8rem 0;
  }

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    z-index: 1;

    .icon {
      @include display-flex;
      position: relative;
      width: 360px;
      overflow: hidden;

      &__bg {
        position: absolute;
        top: -45px;
        left: -46px;
        height: 150%;
        width: 200px;
        background-color: $blue-60;
        transform: rotate(20deg);
        z-index: 1;

        // Media Queries : Large
        @include lg {
          transform: rotate(0);
          width: 200%;
        }
      }

      svg {
        margin: 0 auto;
        font-size: $biggest-size;
        position: relative;
        z-index: 2;
        color: white;

        // Media Queries : Small
        @include sm {
          font-size: $h1-size;
        }
      }
    }

    .text {
      margin-left: 1.2rem;
      padding: 1.2rem 1.2rem 1.2rem 0;
      h1 {
        color: $blue-90;
        margin: 0 0 0.7rem 0;
      }

      p {
        color: $gray-70;
        margin: 0.7rem 0;
      }

      &.ent-profile {
        width: 100%;
        position: relative;

        .header {
          position: relative;
          z-index: 1;
        }
        .ent-profile {
          &__banner,
          &__logo {
            @include display-flex;
            overflow: hidden;
          }

          .header {
            position: relative;
            width: 100%;
            height: 328px;
            z-index: 1;
          }

          &__banner {
            position: relative;
            width: 100%;
            height: 200px;
            border-bottom: 3px solid white;

            span.game {
              position: absolute;
              right: 10px;
              bottom: 10px;
              border: 1px solid $green-80;
              background: $green-70;
              padding: 0.3rem;
              border-radius: 10px;
              color: white;

              // Media Queries : Small
              @include sm {
                bottom: auto;
                top: 10px;
              }
            }
          }

          &__logo {
            position: absolute;
            top: 120px;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 128px;
            height: 128px;
            border: 3px solid white;
            border-radius: 100%;

            img {
              width: 128px;
            }
          }
        }

        h1 {
          margin-top: 50px;
        }
        p {
          color: $gray-70;
        }
        h1,
        span {
          display: block;
          text-align: center;
        }

        p {
          margin: 20px;
          span.buddy {
            display: inline;
            margin: 0 0.2rem;

            &::after {
              content: ',';
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        span.story {
          display: block;
          white-space: pre-wrap;
          word-break: keep-all;
          text-align: left;
          margin: 1.3rem;
          padding: 0.7rem;
          background: $gray-10;
          border: 1px solid $gray-70;
          border-radius: 5px;
        }
      }
    }
  }

  button.start {
    margin: 1rem 0 0.3rem 0;
  }

  button.unauthorized {
    cursor: not-allowed;
    &:hover {
      background: transparent;
      color: $red-60;
    }
  }

  h2 {
    color: $blue-90;
    font-size: $h2-size;
    text-align: center;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include center-div;
    padding: 1.3rem;
    background: white;
    border-radius: 5px;

    p,
    li {
      color: $gray-70;
    }

    ul {
      margin: 1rem 0;
    }

    li {
      margin-left: 3rem;
    }

    label {
      color: $gray-70;
      font-size: $menu-size;
      margin: 0.7rem 0.7rem;
    }

    .error {
      color: $red-60;
      margin: 0.3rem 0.7rem;
    }

    &__buttons {
      @include display-flex(space-between, center, row-reverse);

      // Media Queries : Small
      @include sm {
        flex-direction: column;
        row-gap: 0.6rem;
        margin-top: 1rem;
      }

      button {
        width: 200px;
      }
    }

    button.back {
      background: transparent;
      border: 1px solid $gray-70;
      color: $gray-70;

      &:hover {
        background-color: $red-60;
        color: white;
      }
    }

    textarea {
      white-space: pre-wrap;
      resize: vertical;
    }

    .suggestion {
      margin: 0 0.7rem;
      border: 1px solid $gray-70;
      box-shadow: 5px 5px 5px $gray-50;
      border-radius: 5px;

      p {
        text-align: center;
      }
      &__item {
        display: flex;
        align-items: center;
        column-gap: 1.3rem;
        font-size: $menu-size;
        padding: 0.7rem;
        cursor: pointer;
        @include transition-ease;

        img {
          border-radius: 100px;
        }

        &:hover {
          color: white;
          background: $blue-60;
        }
      }
    }

    .selection {
      margin: 0.7rem;
      display: flex;
      column-gap: 1.5rem;

      span.selected {
        @include display-flex;
        background: $green-50;
        border-radius: 100px;
        border: 1px solid $green-80;
        padding: 0.5rem;
        cursor: pointer;
        @include transition-ease;

        &:hover {
          background: $red-40;
          border-color: $red-70;
        }
      }
    }

    &.form-success {
      background: $green-50;
      border: 1px solid $green-60;
      width: 100%;
      padding-top: 1rem;

      h2 {
        color: white;
      }
      p {
        width: 75%;
        margin: 0 auto;
        color: white;
        font-size: $menu-size;
        text-align: center;
      }

      button {
        margin: 15px auto;
        &.success {
          background: white;
          color: $green-60;
          font-weight: 700;
          font-size: $menu-size;

          &:hover {
            background: $green-60;
            color: white;
          }
        }
      }
    }
  }

  .games {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    // Media Queries : Small
    @include sm {
      flex-direction: column;
    }

    [type='radio'] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      @include transition-ease;

      & + .img {
        cursor: pointer;
        width: 350px;
        height: 150px;
        overflow: hidden;
        @include transition-ease;

        // Media Queries : Small
        @include sm {
          width: 100%;
        }

        &.ets {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../../img/ets_banner.jpeg') no-repeat center/cover;
        }
        &.fs {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../../img/fs_banner.jpg') no-repeat center/cover;
        }
      }

      &:checked + .img,
      &:hover + .img {
        &.ets {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url('../../img/ets_banner.jpeg') no-repeat center/cover;
        }
        &.fs {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url('../../img/fs_banner.jpg') no-repeat center/cover;
        }
      }
    }
  }
}
