.admin-form {
  @include sm {
    margin-top: 8rem;
  }

  & > .wrapper {
    & > h1 {
      width: fit-content;
      text-align: center;
      @include center-div;
      margin-top: 1rem;
      margin-bottom: 1rem;

      // Media Queries: Small
      @include sm {
        width: 100%;
      }
    }
  }

  p.error {
    color: $red-60;
  }

  .form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 1em;

    // Media Queries: Small
    @include sm {
      grid-template-columns: 1fr;
      gap: 3em;
    }

    &-one {
      @include display-grid(1fr, auto, 1em);
      padding: 3rem;
    }
  }

  .white-box {
    width: 100%;
    margin: 0 auto;

    .wrapper {
      margin: 15px;
      p.center {
        color: $gray-70;
        text-align: center;
        font-size: $menu-size;
        font-weight: 700;
      }
    }

    &.general {
      grid-column: 1/5;
      grid-row: 1/5;

      // Media Queries: Small
      @include sm {
        grid-column: 1;
        grid-row: auto;
      }
    }

    h2 {
      color: white;
      background: $blue-60;
      padding: 5px;
      margin-top: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .input-row {
      display: grid;
      grid-template-columns: 250px 1fr;
      align-items: center;
      margin: 10px 0;

      // Media Queries: Small
      @include sm {
        grid-template-columns: auto;
        gap: 0;
      }

      input,
      textarea,
      select {
        border-radius: 5px;
        padding: 5px 15px;
      }

      textarea {
        max-width: 100%;
        padding: 15px;
        resize: none;
        border: 1px solid $gray-70;
      }

      input {
        &[type='text'],
        &[type='datetime-local'],
        &[type='number'] {
          border: 1px solid $gray-70;
        }
      }

      &.error {
        input {
          &[type='text'],
          &[type='datetime-local'],
          &[type='number'] {
            border: 1px solid $red-60;
          }
        }
        textarea {
          border: 1px solid $red-60;
        }
      }
    }

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 1fr;
      height: 200px;
      border: 1px solid $gray-70;
      border-radius: 5px;
      margin: 15px auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .block {
        background-color: transparent;
        text-align: center;
        border-radius: 5px;
        padding: 15px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: white;
        }
      }

      p {
        color: $gray-70;
        font-size: $menu-size;
        margin: 5px 0;
        &:last-of-type {
          font-size: $body-size;
          margin-bottom: 15px;
          color: $gray-20;
        }

        &.error {
          color: $red-60;
          background: white;
          padding: 5px;
          border-radius: 5px;
          font-weight: 700;
        }
      }
    }
  }
  .confirm-button {
    button {
      width: 300px;
    }
    margin: 15px 0;
    text-align: center;
  }

  .showcase-selected {
    background: $purple-50;
    border: 1px solid $purple-20;
    border-radius: 5px;
    padding: 15px;

    p {
      color: #fff;
      margin-bottom: 0.7rem;
    }

    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;

      span.dest-span {
        text-align: center;
        background: $purple-60;
        color: white;
        padding: 10px 0;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid $purple-60;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: $purple-60;
        }
      }
    }
  }
}
