$colors: $blue-60, $pink-60, $green-70, $yellow-60;

a {
  color: white;
}

.header {
  position: relative;
  width: 100%;
  z-index: 999;

  @include sm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar {
    width: 100%;
    color: $blue-20;
    background-color: $blue-90;

    & > .container {
      height: 100px;
      @include display-flex(space-between);

      @include sm {
        height: 70px;
      }
    }

    &-logo a {
      width: 100px;
      @include display-flex(space-between);

      h2 {
        margin: 0.4rem 0 0 0;
      }
    }

    &-nav {
      width: 500px;
      font-size: $menu-size;
      @include display-flex(space-between);

      // Media queries : sm
      @include sm {
        display: none;
      }

      .nav-item {
        flex: 1;
        text-align: center;
        list-style: none;
        height: 100px;
        line-height: 100px;
        @include transition-ease;

        &:hover {
          cursor: pointer;
          color: $blue-40;
        }

        a {
          color: $blue-20;

          &:hover {
            color: $blue-40;
          }
        }
      }

      .active {
        color: $blue-40;
      }
    }

    &-right {
      width: 200px;
      @include display-flex(space-between);

      // Media queries : sm
      @include sm {
        display: none;
      }

      &.logged {
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;

        .text {
          p {
            margin-bottom: 0.7rem;
            white-space: nowrap;
          }
          &__nav {
            @include display-flex(flex-start);
            column-gap: 1rem;
            font-size: $menu-size;

            .admin {
              color: $green-50;
            }

            .logout {
              color: $red-40;
            }
          }
        }

        .avatar {
          @include carre(48px);
          img {
            border: 2px solid set-text-color($blue-90);
            border-radius: 100%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    // Hamburger menu
    .hamburger-menu {
      display: none;
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;

      @include sm {
        @include display-flex(space-between, top, column);
      }

      .bar {
        height: 5px;
        background: #fff;
        border-radius: 5px;
        margin: 0.3rem 0;
        transform-origin: left;
        @include transition-ease;
      }

      &.active .top {
        transform: rotate(45deg);
      }

      &.active .middle {
        opacity: 0;
      }

      &.active .bottom {
        transform: rotate(-45deg);
      }
    }

    // Mobile menu
    .mobile-menu {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      color: set-text-color(#fff);
      padding: 2rem;
      background: #fff;
      text-align: center;
      z-index: 999;

      a {
        color: set-text-color(#fff);
        font-size: $h3-size;
      }

      .navbar-right {
        width: 100%;
        display: none;
        margin: 0;
        font-size: $menu-size;

        // Media queries : sm
        @include sm {
          @include display-flex(space-between);
        }

        &.logged {
          align-items: center;
          justify-content: space-between;
          background: $gray-30;
          padding: 0.7rem 2rem;
          border-radius: 5px;
          .text {
            p {
              margin: 1rem 0;
            }
            &__nav {
              @include display-flex(center);
              column-gap: 3rem;
              font-size: $menu-size;

              .admin {
                color: $green-50;
              }

              .logout {
                color: $red-40;
              }
            }
          }

          .avatar {
            width: 62px;
            height: 62px;
            img {
              border: 2px solid set-text-color($blue-90);
              border-radius: 100%;
              width: 62px;
              height: 62px;
            }
          }
        }
      }

      & > .menu {
        @include display-grid(1fr, auto, 1rem);
        @include center-div;
        width: 100%;
        z-index: 999;
        margin: 0;

        h1 {
          color: $blue-60;
          margin: 2rem 0;
        }

        ul {
          list-style: none;

          li {
            width: 100%;
            font-size: $h3-size;
            text-align: left;
            padding: 2rem 1rem;
            cursor: pointer;

            &:not(:last-of-type) {
              border-bottom: 1px solid $gray-70;
            }
          }
        }
      }
    }
  }

  // DROPDOWN LIST
  .dropdown-list {
    position: absolute;
    width: 100%;
    color: set-text-color($blue-90);
    background: $blue-90;
    padding: 3rem 0;
    border-top: 1px solid $blue-100;
    z-index: 999;

    .container {
      @include display-flex(left, top);

      // LEFT TEXT
      .description {
        width: 350px;
        @include display-flex(left, top, column);
        margin-right: 2rem;

        h1 {
          margin: 0 0 1rem 0;
        }

        p {
          color: $blue-30;
          font-size: $menu-size;
        }
      }

      // RIGHT TEXT
      .menu {
        @include display-grid(repeat(2, 1fr), auto, 1rem);

        &-item {
          a {
            @include display-grid(15px auto, auto, 4.5rem);
            align-items: center;
            border-radius: 5px;
            padding: 0.5rem;
            @include transition-ease;

            p {
              margin: 0.2rem 0 0 0;
              color: $blue-20;
            }

            // Logique de tous les menus
            // Couleur de fond
            // Couleur de texte
            // Hovering
            @for $i from 1 through length($colors) {
              .menu-item {
                &-bg-#{$i} {
                  background-color: nth($colors, $i);
                }
                &-color-#{$i} {
                  color: nth($colors, $i);
                }
                &-#{$i}:hover {
                  cursor: pointer;
                  background-color: nth($colors, $i);

                  .menu-item-bg-#{$i} {
                    background-color: #fff;
                    color: nth($colors, $i);
                  }
                  h3 {
                    color: #fff;
                  }
                }
              }
            }

            .icon {
              width: 2.5em;
              height: 2.5em;
              line-height: 2.5em;
              font-size: 24px;
              margin: 0 2rem 0 0;
              border-radius: 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// Transparent header

.header.transparent {
  position: absolute;
  z-index: 99;
  .navbar,
  .dropdown-list {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
  }
}
