.listing-admin {
  h1 {
    text-align: center;
    color: $blue-90;
  }

  .table {
    overflow-x: auto;
  }
  table {
    width: 100%;
    @include center-div;
    text-align: center;
    border-collapse: collapse;

    tr {
      @include transition-ease;

      &:hover {
        background: $blue-20;
      }
    }

    td {
      padding: 0.5rem;
    }

    // Media Queries: Sm
    @include sm {
      overflow-x: scroll;
      white-space: nowrap;
    }

    th {
      padding: 1rem 0;
      color: $gray-70;
      // Media Queries: Sm
      @include sm {
        padding: 1rem;
      }
    }

    a {
      color: $blue-60;
    }

    .discord {
      background: $blue-60;
      color: white;
    }

    .is-valid {
      font-size: $h3-size;
      background: $red-40;
      color: white;

      &.valid {
        background: $green-50;
      }
    }

    & > tbody > tr > .actions {
      text-align: center;

      @include sm {
        display: flex;
        justify-content: space-evenly;
      }

      svg {
        color: $gray-70;
        font-size: $menu-size;
      }

      .fa-trash-alt {
        color: $red-60;
        cursor: pointer;
      }
    }

    & > tbody > tr > .locations {
      text-align: left;
    }
  }
}
