.notifications {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 99;

  // Media Queries : Extra Small
  @include xs {
    width: 90%;
    right: 10px;
    @include center-div;
  }

  .notif-block {
    position: relative;
    width: 400px;
    color: white;
    font-size: $menu-size;
    border-radius: 5px;
    margin: 0.3rem 0;
    padding: 0.7rem 0;

    // Media Queries : Extra Small
    @include xs {
      width: 100%;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 5px;
      width: 93%;
    }

    &.green {
      background: $green-70;
    }

    &.red {
      background: $red-60;
    }

    &.blue {
      background: $blue-60;
    }

    &.purple {
      background: $purple-60;
    }

    &__icon {
      @include display-flex;
      background: white;
      padding: 0.6rem;
      border-radius: 100%;
      margin: 0 1rem;

      svg {
        width: 24px;
        height: 24px;
        color: $green-70;
        border-radius: 100%;
        font-size: $h2-size;

        &.red {
          color: $red-60;
        }

        &.blue {
          color: $blue-60;
        }

        &.purple {
          color: $purple-60;
        }
      }
    }

    h3,
    p {
      margin: 0;
    }

    span.close {
      position: absolute;
      top: 10px;
      right: 5px;
      cursor: pointer;
      font-size: $h2-size;
      min-height: max-content;
      padding: 0 0.5rem;
    }
  }

  &.admin-notifications {
    top: 0;
    bottom: auto;
    right: 10px;
    left: auto;
  }
}
