// COLORS
// Blue
$blue-100: hsl(221, 77, 10);
$blue-90: hsl(221, 77, 20);
$blue-80: hsl(221, 77, 30);
$blue-70: hsl(221, 77, 40);
$blue-60: hsl(221, 77, 50);
$blue-50: hsl(221, 77, 60);
$blue-40: hsl(221, 77, 70);
$blue-30: hsl(221, 77, 80);
$blue-20: hsl(221, 77, 90);

// Gray
$gray-100: hsl(0, 1, 10);
$gray-90: hsl(0, 1, 20);
$gray-80: hsl(0, 1, 30);
$gray-70: hsl(0, 1, 40);
$gray-60: hsl(0, 1, 50);
$gray-50: hsl(0, 1, 60);
$gray-40: hsl(0, 1, 70);
$gray-30: hsl(0, 1, 80);
$gray-20: hsl(0, 1, 90);
$gray-10: hsl(0, 1, 95);

// Pink
$pink-100: hsl(317, 58, 10);
$pink-90: hsl(317, 58, 20);
$pink-80: hsl(317, 58, 30);
$pink-70: hsl(317, 58, 40);
$pink-60: hsl(317, 58, 50);
$pink-50: hsl(317, 58, 60);
$pink-40: hsl(317, 58, 70);
$pink-30: hsl(317, 58, 80);
$pink-20: hsl(317, 58, 90);

// Yellow
$yellow-100: hsl(68, 52, 10);
$yellow-90: hsl(68, 52, 20);
$yellow-80: hsl(68, 52, 30);
$yellow-70: hsl(68, 52, 40);
$yellow-60: hsl(68, 52, 50);
$yellow-50: hsl(68, 52, 60);
$yellow-40: hsl(68, 52, 70);
$yellow-30: hsl(68, 52, 80);
$yellow-20: hsl(68, 52, 90);

// Green
$green-100: hsl(133, 59, 10);
$green-90: hsl(133, 59, 20);
$green-80: hsl(133, 59, 30);
$green-70: hsl(133, 59, 40);
$green-60: hsl(133, 59, 50);
$green-50: hsl(133, 59, 60);
$green-40: hsl(133, 59, 70);
$green-30: hsl(133, 59, 80);
$green-20: hsl(133, 59, 90);

// Red
$red-100: hsl(341, 77, 10);
$red-90: hsl(341, 77, 20);
$red-80: hsl(341, 77, 30);
$red-70: hsl(341, 77, 40);
$red-60: hsl(341, 77, 50);
$red-50: hsl(341, 77, 60);
$red-40: hsl(341, 77, 70);
$red-30: hsl(341, 77, 80);
$red-20: hsl(341, 77, 90);

// Purple
$purple-100: hsl(260, 55, 10);
$purple-90: hsl(260, 55, 20);
$purple-80: hsl(260, 55, 30);
$purple-70: hsl(260, 55, 40);
$purple-60: hsl(260, 55, 50);
$purple-50: hsl(260, 55, 60);
$purple-40: hsl(260, 55, 70);
$purple-30: hsl(260, 55, 80);
$purple-20: hsl(260, 55, 90);
