// COLORS
// Blue
$blue-actif: #3166d6;
$blue-actif-lighter: #4374db;
$blue-120: #091a3f;
$blue-100: #1d3b7a;
$blue-90: #5e7fc5;
$blue-80: #91a7d3;
$blue-60: #c6e2ff;

// Gray
$gray-100: #6f6e6e;
$gray-90: #a3a3a3;
$gray-80: #c5c5c5;
$gray-60: #e8e8e8;
$gray-40: #f0f0f0;
$gray-20: #f9f9f9;

// Pink
$pink-100: #c855a8;
$pink-80: #eb86cf;
$pink-60: #ffc1ee;

// Yellow
$yellow-120: #afbd5a;
$yellow-100: #e8cc3a;

// Green
$green-120: #3b904e;
$green-100: #2fb74d;
$green-80: #63e980;

// Red
$red-120: #b83838;
$red-100: #e04141;
$red-80: #f28787;

// Purple
$purple-120: #583e8b;
$purple-100: #7659b2;
$purple-80: #9b7dd8;
$purple-60: #c2a8f5;
