// FONTS
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
$title-font: overpass, sans-serif;
$body-font: roboto, sans-serif;

// FONT SIZE
$biggest-size: 64px;
$big-size: 48px;
$h1-size: 34px;
$h2-size: 24px;
$h3-size: 20px;
$menu-size: 16px;
$body-size: 13px;
$small-size: 10px;
